.timer {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
  border: 3px solid transparent;
  border-color: #ff0080;
  box-shadow: 0px 0px 30px 2px rgb(212, 7, 161);
}
.timer span {
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}
a:hover {
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
#startIcon,
#resetIcon,
#stopIcon {
  font-size: 50px;
  color: #00b7ff;
}
h1 {
  color: #00b7ff;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
